### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/vendor

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Intellij ###
.idea

### VisualStudioCode ###
.vscode

### Conduit ###

# Badger DB
conduit.db

# Binary, built with `make build`
/conduit
/conduit-pipeline-check

### Conduit UI ###

# compiled output
/ui/dist/
/ui/tmp/
/pkg/web/ui/dist/*
!/pkg/web/ui/dist/.keep

# dependencies
/.github/actions/node_modules/
/ui/node_modules/

# misc
/ui/.env*
/ui/.pnp*
/ui/.sass-cache
/ui/.eslintcache
/ui/connect.lock
/ui/coverage/
/ui/libpeerconnection.log
/ui/npm-debug.log*
/ui/testem.log
/ui/yarn-error.log

# ember-try
/ui/.node_modules.ember-try/
/ui/bower.json.ember-try
/ui/npm-shrinkwrap.json.ember-try
/ui/package.json.ember-try
/ui/package-lock.json.ember-try
/ui/yarn.lock.ember-try

# Local Netlify folder
/ui/.netlify

### OS ###
.DS_Store

dist/

# Examples
/examples/processors/file_destination.txt
/example.in
/example.out

# Standalone connectors
/connectors
# Standalone processors
/processors

/pipelines

# Conduit local config
/conduit.yaml

# Escape Analysis Report
escape_analysis.txt

# Profiles
*.prof

# Compiled test wasm processors
pkg/plugin/processor/standalone/test/wasm_processors/*/processor.wasm

# Test data
**/test/*.txt

# this one is needed for integration tests
!pkg/provisioning/test/source-file.txt
