### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/vendor

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Intellij ###
.idea

### VisualStudioCode ###
.vscode

### Conduit ###

# Badger DB
conduit.db

# Binary, built with `make build`
/conduit
/conduit-pipeline-check

### OS ###
.DS_Store

dist/

# Examples
/examples/processors/file_destination.txt
/example.in
/example.out

# Standalone connectors
/connectors
# Standalone processors
/processors

/pipelines

# Conduit local config
/conduit.yaml

# Escape Analysis Report
escape_analysis.txt

# Profiles
*.prof

# Compiled test wasm processors
**/test/**/*.wasm

# Test data
**/test/*.txt

# this one is needed for integration tests
!pkg/provisioning/test/source-file.txt

golangci-report.xml