<div class="bg-white absolute top-16 left-0 right-0 bottom-0 overflow-scroll">
  <div class="mb-2 px-4 py-4 border-b border-gray-200">
    <Mxa::SearchInput class="w-full"/>
  </div>
  <ul class="text-xs text-gray-400">
    <li class="p-4 border-b border-gray-100">
      <code class="block">{"event": "vip_purchase", "properties": { ... }}</code>
      <code class="flex justify-end">2020-03-09T21:29:16.615</code>
    </li>
    <li class="p-4 border-b border-gray-100">
      <code class="block">{"event": "vip_purchase", "properties": { ... }}</code>
      <code class="flex justify-end">2020-03-09T21:29:16.615</code>
    </li>
    <li class="p-4 border-b border-gray-100">
      <code class="block">{"event": "vip_purchase", "properties": { ... }}</code>
      <code class="flex justify-end">2020-03-09T21:29:16.615</code>
    </li>
  </ul>
</div>