<Pipeline::Form
  @title="Settings"
  @pipeline={{@model}}
  @availableTags={{this.availableTags}}
  as |pipeline|
>
  <div class="flex items-center justify-end">
    <Mxa::Button
      {{on "click" (fn this.savePipeline pipeline)}}
      data-test-button="create-pipeline"
      disabled={{or (not pipeline.isValid) (and (not pipeline.isNew) pipeline.isRunning)}}
    >
      Save Changes
    </Mxa::Button>
  </div>
</Pipeline::Form>
