[Unit]
Description=Conduit daemon

[Service]
Type=forking
WorkingDirectory=/var/lib/conduit
ExecStart=/usr/bin/conduit

[Install]
WantedBy=multi-user.target
