<div class="flex flex-col w-56 items-center" ...attributes>
  {{#each @connectors as |connector|}}
    <PipelineEditor::Nodes::ConnectorNode
      @connector={{connector}}
      @connectorType={{@connectorType}}
      @selectedNode={{@selectedNode}}
      @selectNode={{@selectNode}}
    />
  {{/each}}
</div>
