# unconventional js
/blueprints/*/files/
/blueprints/*/index.js
/vendor/

# compiled output
/dist/
/dist-prod/
/tmp/

# dependencies
/bower_components/
/node_modules/

# misc
/coverage/
!.*
.*/

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/npm-shrinkwrap.json.ember-try
/package.json.ember-try
/package-lock.json.ember-try
