name: UI code coverage

on:
  pull_request:
    branches:
      - main
    paths:
      - 'ui/**'

jobs:
  build:
    name: Code Coverage
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Use Node
      uses: actions/setup-node@v3
      with:
        node-version: '16'
    - name: Install dependencies
      run: make ui-dependencies
    - uses: mydea/ember-cli-code-coverage-action@4d49818fff56371e4fdacdfbb1c00573f4cdda01
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        working-directory: ./ui
        coverage-file: ./ui/coverage/coverage-summary.json
        message: "UI test coverage: **{testCoverage}%**"
